a{
	text-decoration: none !important;
}
a:link {color:#FFFFFF;}    /* 設定尚未點閱過的連結樣式 */
a:visited {color:#FFFFFF !important;} /* 設定過去曾經閱過的連結 */
a:active {color:#FFFFFF;}  /* 設定上點擊過的連結*/
a:focus{color:#FFFFFF;}

.header
{
	height: 100px;
	background-color: white;
	display: flex;
	align-items: center;
	margin-left: 100px;
}

.nav
{
	display: flex;
	height:70px;
	background-color: #00479d;	
	align-items: center;
	justify-content: center;
}
.main
{	
	display: flex;
	justify-content: center;
	height:1000px;
	background-color:white;
}

.main_1200px
{	
	display: flex;
	justify-content: center;
	height:1200px;
	background-color:floralwhite;
}
.main_for_page3_2
{
	display: flex;
	justify-content: center;
	height:1100px;
}
.main_left
{
	width: 250px;	
	text-align: right;
}
.b_new:hover {	 background-color: #9E9E9E;}
.b_new8:hover {	 background-color: #9E9E9E;}
.b_new6:hover {	 background-color: #9E9E9E;}
.b_new2:hover {	 background-color: #9E9E9E;}
.b_new 
{	
	background-color: #F4FCFF;
    border: none;
    color: black;
	width:220px;
    padding: 18px 90px 18px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    cursor: pointer;
}
.b_new8
{	
	
	background-color: #F4FCFF;
    border: none;
    color: black;
	width:220px;
    padding: 18px 41px 18px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    cursor: pointer;
}
.b_new6
{
	background-color: #F4FCFF;	
    border: none;
    color: black;
	width:220px;
    padding: 18px 61px 18px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    cursor: pointer;
}
.b_new2
{
	
	background-color: #F4FCFF;
    border: none;
    color: black;
	width:220px;
    padding: 18px 119px 18px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    cursor: pointer;
}

.main_right
{	
	width: 900px;	
	margin-right: 250px;
}
.t_name
{
	font-family: Microsoft JhengHei;
	font-family: bold;
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 90px;
}

.t_info{
	

}
.slide{

	display:flex;
	margin-left:60px;	
}

.dropbtn {
	font-size:40px;
    color: black;  
	background-color:white;
    border: none;
    cursor: pointer;
}

.dropdown {
	
	margin-left:30px;
	margin-top:25px;
	margin-bottom:55px;	
    position: relative;
    display: inline-block;
}

.dropdown-content {
	font-size:20px;
    display: none;/*離開後收掉*/
    position: absolute;/*展開不壓縮其他空間 like dynamic*/
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);	
}


.dropdown-content a {
    color: black!important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #EFEFEF;/*碰到按鈕的顏色*/
}
.license{
	display:flex;
	
}
.license_pic{	
	margin-left:50px;
	
}
.bookflex{
	display:flex;
	margin-left:20px;	
}
.main_right_title{
	font-size:40px;
	margin-left:30px;
	margin-top:25px;
	margin-bottom:55px;
}
.book_picture{
	margin-left:40px;
	width:132px;	
	height:150px;
	margin-bottom:20px;
	margin-top:5px;
	margin-right:2px;
}
.book_name{


	font-size:20px;
	font-family:Microsoft JhengHei;
	font-family:bold;
	border-width:1px;
	padding-top:15px;
	padding-left:20px;
	letter-spacing:1px;
	height:170px;
	line-height: 35px;
	
}

.footer
{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	height:120px;
	background-color: #00479d;
}
.content
{	 
	padding-top: 20px;
	text-align: right;
	width : 1150px;
	height: 120px;
	background-color:#00479d;
	color:white;
	line-height: 25px;
}
.content>a
{
	margin-left: 15px;
}
/*wiily+*/
.pic{
	margin-top: 30px;
	margin-left: 20px;
	padding-top:10px; 
	background-color: rgb(243, 240, 240);
}
.pic1{
	margin-top: 10px;
	margin-bottom: 10px;
}
.pic2{
		margin-bottom: 10px;
}
.bg{
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	background-color: rgb(243, 240, 240);}
.bg5{
	width: 620px;
}
.pad{
	padding-left: 20px;
	padding-right: 20px;
}
.pad1{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.pad2{
	padding-left: 20px;
	padding-right: 20px;
}
.main1
{	
	display: flex;
	justify-content: center;
	height:1600px;
	background-color:white;
}
.bb{
	border-bottom: 1px solid black;
}
.main2
{	
	display: flex;
	justify-content: center;
	height:1170px;
	background-color:white;
}
.pt{
	padding-top: 10px;
}
.main3
{	
	display: flex;
	justify-content: center;
	height:1100px;
	background-color:white;
}
.main4
{	
	display: flex;
	justify-content: center;
	height:2000px;
	background-color:white;
}